#!/usr/bin/env lsc -cj

# Site
host: "http://localhost:3000"
contact:
  name: "Chen Hsin-Yi"
  email: "test@null.com"

# Auth
enable_auth: true
logout_redirect: "/"
auth_providers:
  facebook:
    clientID: null
    clientSecret: null
  twitter:
    consumerKey: null
    consumerSecret: null
  google:
    consumerKey: null
    consumerSecret: null
protected_resources:
  * "/collections/"
  * "/collections/*"

